.body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image {
  width: 150px;
}
.card {
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  color: #2b2839;
  display: flex;
  width: 400px;
  margin: 0px auto;
  background-color: #ddebf8;
  border-bottom: 7px solid #d8cefe;
}
.blue-border {
  border: 1px dotted blue;
}
